<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.0-beta7" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="4.4.1" targetFramework="net461" developmentDependency="true" />
  <package id="SharpCompress" version="0.19.2" targetFramework="net461" />
  <package id="SimpleExtension" version="0.0.24" targetFramework="net461" />
  <package id="SimpleExtension.Topshelf" version="0.0.1" targetFramework="net461" />
  <package id="SimpleHelper" version="0.0.16" targetFramework="net461" />
  <package id="Splat" version="2.0.0" targetFramework="net461" />
  <package id="squirrel.windows" version="1.7.8" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.Log4Net" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.Squirrel.Updater" version="0.0.7" targetFramework="net461" />
</packages>